@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor-apartado-menu {
  height: 100vh;
  background-image: url(./assets/fondo-espacial.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-menu {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo-juego {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Bungee Spice", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.boton-inicio-juego {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1.5px solid white;
  border-radius: 1.5rem;
  width: 20rem;
  height: 5rem;
  font-family: "Press Start 2P", system-ui;
}

.imagen-reproducir-musica img {
    cursor: pointer;
    width: 7rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
}